.sigle-blog-hero {
    background-image: url('/img/single-blog/single-blog-hero.svg');
    height: 605px;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #000000;
}

.sigle-content-area {
    background: #F8F8F8;
}

.single-content-container {
    width: 60%;
    margin: auto;
    padding: 64px 0;
}

.single-content h6 {
    color: #000000;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
}

.single-content h1 {
    color: #000000;
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 56px;
    line-height: 84px;
}

.single-content p {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.single-content h5 {
    color: #000000;
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}

.border-div {
    border-bottom: 1px solid #000000;
    margin: 64px 0;
}

.single-content-btn {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 5px 12px;
    margin-left: 10px;
}

.single-content-icon {
    color: #000000;
    font-size: 26px;
    transition: 0.6s;
    cursor: pointer;
}

.single-content-icon:hover {
    color: #B5B35C;
}

.single-content-icon-wifi {
    margin-left: 32px;
    transform: rotate(50deg);
}

.comments {
    margin-bottom: 80px;
}

.comments h3 {
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 59px;
    margin-top: 80px;
}

.comments h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.comments p {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.single-content-form .form-control {
    box-shadow: none;
    border: 1px solid #000000;
    border-radius: 4px;
    background: #F3F3F3;
}

.single-content-form .form-control::placeholder {
    color: #A3A59B;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.single-content-form .form-label {
    color: #000000;
    font-family: 'Jost';
    font-weight: 700 !important;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.single-form-btn {
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background: #B5B35C;
    padding: 12px 32px;
    border: 2px solid #000000;
    margin-top: 48px;
}
@media screen and (max-width:991px){
    .single-content-container {
        width: 80%;
    }
}
@media screen and (max-width:767px){
    .single-content-container {
        width: 90%;
    }
}
@media screen and (max-width:793px) and (min-width:767px){
    .single-content-icon{
        font-size: 20px;
    }
}