.blog-area {
    background-color: #F8F8F8;
    padding: 119px 0;
}
.blog-area-row{
    grid-column-gap:36px ;
}
.blog-title {
    background-color: #F2E085;
    padding-top: 103px;
    padding-bottom: 95px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.blog-card a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.blog-title h4 {
    color: black;
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    cursor: pointer;
}

.blog-card {
    position: relative;
    z-index: 3;
    background-color: #F8F8F8;
    border: 1px solid #000000;
    transition: 0.6s;
   margin-left: 17px;
    margin-right: 17px;
}
.blog-top-img{
    width: 100%;
}
.blog-card:hover {
    box-shadow: 12px 14px 0px 1px #5E6B61;
}
.blog-badge {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: #F8F8F8;;
    border: 2px solid #000000;
    padding: 6px 16px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.blog-btn {
    position: absolute;
    bottom: 16px;
    border-bottom: 2px solid #000000;
}

.blog-btn a {
    color: #000000;
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-right: 8px;
}

.blog-content {
    padding: 16px;
}

.blog-content h6 {
    color: #000000;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.blog-content h3 {
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.blog-content p {
    color: #000000;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 38px;
}

@media screen and (max-width:991px){
    .blog-title h4{
        font-size: 30px;
    }
}
@media screen and (max-width:541px){

    .blog-title  h4{
        font-size: 20px;
    }
}
@media screen and (max-width:576px){

    .blog-card{
        margin: 24px;
    }
}
@media screen and (min-width:800px) and (max-width:1440px) {
    .blog-content h3 {
        font-size: 22px;
        line-height: 33px;
    
      }
      .blog-content p{
        font-size: 16px;
        line-height: 25px;
      }
}
@media screen and (max-width:560px) {
    .blog-content h3 {
        font-size: 20px;
        line-height: 33px;
    
      }
      .blog-content p{
        font-size: 16px;
        line-height: 25px;
      }
      .blog-content p {
        margin-bottom: 0px;
      }
}
@media screen and (min-width:560px) and (max-width:799px) {
    .blog-content h3 {
        font-size: 22px;
        line-height: 33px;
    
      }
      .blog-content p{
        font-size: 18px;
        line-height: 25px;
      }
}